<div class="login-container">

  <div class="row">
    <!-- <div class="col-md-6">
            <div class ="ampol">
              <img  src="../../assets/images/idea.PNG">
            </div>
            
        </div> -->



    <div class="col-md-6">
      <div class="form">
        <div class="form-header">
          <h3>
            Register New Admin
          </h3>

        </div>

        <form class="form-horizontal" action="/action_page.php">
          <div class="form-group">
            <label class="control-label col-sm-5" for="user.first_name">First Name:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="user.first_name" placeholder="Enter First name*" [(ngModel)] = "user.first_name" name ="user.first_name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-5" for="user.last_name">Last Name:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="user.last_name" placeholder="Enter Last name*" [(ngModel)] = "user.last_name" name="user.last_name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-5" for="user.email">Email:</label>
            <div class="col-sm-7">
              <input type="email" class="form-control" id="user.email" placeholder="Enter email address*"  [(ngModel)] = "user.email" name="user.email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-5" for="account.password">Password:</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="account.password" placeholder="Enter password*"  [(ngModel)] = "account.password" name="account.password">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-5" for="password2">Confirm Password:</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="password2" placeholder="Confirm  Password*" [(ngModel)] = "password2" name="password2">
            </div>
          </div>
          <p>Required(*)</p>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" (click)=submitAdmin() class="btn btn-primary">Register</button>
              <button type="submit" class="btn btn-danger">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>