tbody td{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.faqbody{
    background-color: lightsteelblue;
    text-align: left;
    padding:25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
