<div>
    <h2>About Us</h2>
</div>


<div class="aboutbody">
    <div class="aboutint">
    <p>
        University of Maryland Global Campus was founded more than 70 years ago to serve working adults and service members. We're an online state university that offers online academic programs in fast-growing and in-demand fields. With no-cost digital course materials in nearly every course, and locations in Maryland and at military installations around the world, we give you the opportunity to earn a respected degree from just about anywhere life takes you.
        University of Maryland Global Campus was founded more than 70 years ago to serve working adults and service members. We're an online state university that offers online academic programs in fast-growing and in-demand fields. With no-cost digital course materials in nearly every course, and locations in Maryland and at military installations around the world, we give you the opportunity to earn a respected degree from just about anywhere life takes you.
    </p>
     <p>
        University of Maryland Global Campus was founded more than 70 years ago to serve working adults and service members. We're an online state university that offers online academic programs in fast-growing and in-demand fields. With no-cost digital course materials in nearly every course, and locations in Maryland and at military installations around the world, we give you the opportunity to earn a respected degree from just about anywhere life takes you.
        University of Maryland Global Campus was founded more than 70 years ago to serve working adults and service members. We're an online state university that offers online academic programs in fast-growing and in-demand fields. With no-cost digital course materials in nearly every course, and locations in Maryland and at military installations around the world, we give you the opportunity to earn a respected degree from just about anywhere life takes you.
    </p>
</div>
</div>
