<h3>View Project Details</h3>
<div>
    <div>
        <label><b> Title: </b></label> {{project.user.title}}
    </div>
    <div>
        <label><b> First Name: </b></label> {{project.user.first_name}}
    </div>
    <div>
        <label><b> Last Name: </b></label> {{project.user.last_name}}
    </div>
    <div>
        <label><b> Phone Number: </b></label> {{project.user.phone_number}}
    </div>
    <div>
        <label><b> Email: </b></label> {{project.user.email}}
    </div>
    
    <div>
        <label><b> User Type: </b></label> {{project.user.user_type}}
    </div>
    <div>
        <label><b> Project Title: </b></label> {{project.project_title}}
    </div>
    <div>
        <label><b> Project Description: </b></label> {{project.project_description}}
    </div>
    <div>
        <label><b> Project Website: </b></label> {{project.project_website}}
    </div>
    <div>
        <label><b> Comment: </b></label> {{project.comment}}
    </div>
    
</div>
