.detail{
    border: 1px solid red;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 12px 12px 22px grey;
    margin-bottom: 20px;
    width: 800px;
    margin-left: 150px;
    
}
.detailbody{
    
}
label{
    padding:5px;
}
button{
    margin-bottom: 10px;
    margin-left: 150px;
}
h3{
    border: 1px solid brown;
      margin-bottom: 10px;
      background-color: #960513;
      border-radius: 10px;
      padding-bottom: 10px;
      text-align: center;
      color: yellow;
      
}