<div class="login-container">
            
    <div class="row">
        <div class="col-md-6">
            <div class ="ampol">
              <img  src="/../assets/images/idea.PNG">
            </div>
            
            
        </div>
        <div class="col-md-6"> 
            <div class ="form">
            <div class ="form-header">
                <h4>
                    Software Development Project Proposal
                </h4>
            </div>
            
            <app-create-project ></app-create-project>
           
     </div>
     </div>
     </div>
    </div>
    <div class="thired-row">
        <div class="row">
            
                      <div class="col-md-6">
                        
                           <div class="capp">
                           <div>
                            <h2>Capstone Project</h2>
                        </div>
                    </div>
                        
                        <div class="aboutbody">
                            <p>
                              The UMGC Capstone Project Proposal Management System (CaPPMS) is a web-based application which allows customer, clients, and former students to submit detailed proposals of projects to be designed and implemented by UMGC SWEN 670 students as well as track the stages during the approval process.
      
                                University of Maryland Global Campus was founded more than 70 years ago to serve working adults and service members. We're an online state university that offers online academic programs in fast-growing and in-demand fields. With no-cost digital course materials in nearly every course, and locations in Maryland and at military installations around the world, we give you the opportunity to earn a respected degree from just about anywhere life takes you.
                            </p>
                          </div>
                          
                      </div>
                    
           
           <div class="col-md-6"> 
               <div class="bottomtwo">
                  <img  src="/../assets/images/idea2.PNG"> 
               </div>
               
                </div>
            </div>
            