<div class="col-md-12  ">
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Your proposal has been submited successfully.
        <button (click)="closeAlert()"type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

<form #proForm="ngForm" (ngSubmit) ="onSubmit(); proForm.reset()">
    
    <div class="col-md-12 form-group  form-inline " >
        <label class="col-sm-6 col-form-label" for="title" >Title: </label>
        <input type="text" class = "form-control" id="ex3"
            [(ngModel)] = "user.title" name ="title">
            
    </div>
    <div class="col-md-12 form-group  form-inline " >
        <label class="col-sm-6 col-form-label" for="first_name" >First Name: </label>
        <input required #fname="ngModel" type="text" class = "form-control" id="ex3"
            [(ngModel)] = "user.first_name" name ="first_name">
         <span *ngIf="fname.invalid && fname.touched" class="error">First name is required</span>   
    </div>
    <div class="col-md-12 form-group  form-inline " >
        <label class="col-sm-6 col-form-label" for="lastNmae" >Last Name: </label>
        <input required #lname="ngModel" type="text" class = "form-control" id="ex3"
            [(ngModel)] = "user.last_name" name ="Last_name">
            <span *ngIf="lname.invalid && lname.touched" class="error">Last name is required</span>  
    </div>
    <div class="col-md-12 form-group  form-inline " >
        <label class="col-sm-6 col-form-label" for="phone_number" >Phone: </label>
        <input type="text" class = "form-control" id="ex3"
            [(ngModel)] = "user.phone_number" name ="phone_number">
    </div>
    <div class="col-md-12 form-group  form-inline " >
        <label class="col-sm-6 col-form-label" for="email" >Email: </label>
        <input required #email="ngModel" type="text" class = "form-control" id="ex3"
            [(ngModel)] = "user.email" name ="email">
            <span *ngIf="email.invalid && email.touched" class="error">email is required</span>    
    </div>
    <!-- <div class="col-md-12 form-group  form-inline " >
        <label class="col-sm-6 col-form-label" for="email" >user_type: </label>
        <input type="text" class = "form-control" id="ex3"
            [(ngModel)] = "user.user_type" name ="user_type">
            
    </div> -->
    <div class="col-md-12 form-group  form-inline">
        <label class="col-sm-6 col-form-label" for="usertypeselect">User Type</label>
        <select [(ngModel)]="user.usr_Type.utype_descr" class="form-control" id="usertypeselect" (ngModelChange)=onUserTypeChange($event) name="usertypeselect" >
          <option [value]="" disabled selected >Other</option>
          <option [value]="1">Sponsor</option>
          <option [value]="2">Liaison</option>
          <option [value]="3">Other</option>
        </select>
        <!-- <input type="text" [(ngModel)]="status" (ngModelChange)="onNameChange($event)"> -->
      </div>
    
    <div class="col-md-12 form-group  form-inline " >
        <label class="col-sm-6 col-form-label" for="projectTitle" >Project Title: </label>
        <input required #ptitle="ngModel" type="text" class = "form-control" id="ex3"
            [(ngModel)] = "project.project_title" name ="project_title">
            <span *ngIf="ptitle.invalid && ptitle.touched" class="error">Project title is required</span>    
    </div>
    <div class="col-md-12 form-group form-inline">
        <label class="col-sm-6 col-form-label" for="projectDescription">Project Description:</label>
        <textarea required #pdesc="ngModel" type="text" class = "form-control" id = "project_description"
            [(ngModel)] = "project.project_description" name ="project_description"></textarea>
            <span *ngIf="pdesc.invalid && pdesc.touched" class="error">Project description is required</span>
            <!-- <textarea  id="exampleFormControlTextarea1" rows="3" class="form-control my-2 p-2"></textarea> -->
    </div>
    <div class="col-md-12 form-group form-inline">
        <label class="col-sm-6 col-form-label" for="projectWeb">Project Website:</label>
        <input type="text" class = "form-control" id = "project_website"
            [(ngModel)] = "project.project_website" name ="project_website">
    </div>
    <!-- <div class="col-md-12 form-group form-inline">
        <label class="col-sm-6 col-form-label" for="Comment">Comment:</label>
        <input type="text" class = "form-control" id = "comment"
            [(ngModel)] = "project.comment" name ="comment">
    </div> -->
    
    
    
  <button [disabled]="proForm.invalid" class="btn btn-success" type="submit">Submit</button>
  


  

</form>
</div>
